{% extends "ceasar/ceasar.html" %}
{% load staticfiles %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'ceasar/css/ceasar.css' %}" >
    <script src="{% static 'ceasar/js/jquery.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'ceasar/js/fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'ceasar/js/fusioncharts/fusioncharts.theme.fint.js' %}"></script>

{% endblock head %}

{% block story %}
A Caesar cipher is one of the simplest (and easiest cracked) encryption methods. It is a Substitution Cipher that involves replacing each letter 
of the secret message with a different letter of the alphabet which is a fixed number of positions further in the alphabet.
{% endblock story %}


{% block jscript %}
    <script src="{% static 'ceasar/js/ceasar.js' %}"></script>
{% endblock jscript %}
